<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Backdrop URL Shortener Service</title>
</head>
<body>
  <div class="container">
    <h1>Backdrop URL Shortener</h1>
    <p>Access the Service at <a href="<%= baseUrl %>"><%= baseUrl %></a></p>

    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>

        </tr>
      </thead>
      <tbody>
        <% urls.forEach(url => { %>
          <tr>
            <td><a href="<%= url.longUrl %>"><%= url.longUrl %></a></td>
            <td><a href="<%= url.shortUrl %>"><%= url.shortUrl %></a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>